<section class="destPinned">
  {% for item in module.slide %}
    <div class="destPinned__slide destPinned__slide--{{ loop.index }} {% cycle 'background--navy','background--dullNavy','background--blue' %}">
      <div class="container">
        <div class="row flex-column-reverse flex-lg-row justify-content-center align-items-center">

          {% if item.cta_button.cta_link.url.href %}
            <div class="destPinned__button">
              <div class="destPinned__cta flex-align d-lg-none">
                {% set href = item.cta_button.cta_link.url.href %}
                {% if item.cta_button.cta_link.url.type is equalto "EMAIL_ADDRESS" %}
                  {% set href = "mailto:" + href %}
                {% endif %}
                {% set rel = [] %}
                {% if item.cta_button.cta_link.no_follow %}
                  {% do rel.append("nofollow") %}
                {% endif %}
                {% if item.cta_button.cta_link.open_in_new_tab %}
                  {% do rel.append("noopener") %}
                {% endif %}
                <a href="{{ href }}" class="button button--secondary"
                  {% if item.cta_button.cta_link.open_in_new_tab %}target="_blank"{% endif %}
                  {% if rel %}rel="{{ rel|join(" ") }}"{% endif %}>
                  {{ item.cta_button.cta_text|trim }}
                </a>
              </div>
            </div>
          {% endif %}

          <div class="col-12 col-lg-5">
            <div class="destPinned__graphic">
              {% if item.image.image.src %}
                <img class="destPinned__image" src="{{ item.image.image.src }}" alt="{{ item.image.image.alt }}">
              {% endif %}
            </div>
          </div>

          <div class="col-12 col-lg-6 offset-xl-1 col-xl-5">
            <div class="destPinned__body text-center text-lg-left">
              <p class="destPinned__counter color--lightBlue mb-0">0{{ loop.index }}</p>
              <h2 class="destPinned__header color--white">{{ item.copy.header|trim }}</h2>
              {% if item.copy.standfirst %}
                <p class="destPinned__standfirst color--lightBlue">{{ item.copy.standfirst|trim }}</p>
              {% endif %}
              {% if item.cta_button.cta_link.url.href %}
                <div class="destPinned__cta d-none d-lg-flex">
                  {% set href = item.cta_button.cta_link.url.href %}
                	{% if item.cta_button.cta_link.url.type is equalto "EMAIL_ADDRESS" %}
                		{% set href = "mailto:" + href %}
                	{% endif %}
                	{% set rel = [] %}
                	{% if item.cta_button.cta_link.no_follow %}
                		{% do rel.append("nofollow") %}
                	{% endif %}
                	{% if item.cta_button.cta_link.open_in_new_tab %}
                		{% do rel.append("noopener") %}
                	{% endif %}
                	<a href="{{ href }}" class="button button--secondary"
                		{% if item.cta_button.cta_link.open_in_new_tab %}target="_blank"{% endif %}
                		{% if rel %}rel="{{ rel|join(" ") }}"{% endif %}>
                		{{ item.cta_button.cta_text|trim }}
                	</a>
                </div>
              {% endif %}
            </div>
          </div>

        </div>
      </div>
    </div>
  {% endfor %}
</section>
