@import "destination-page/assets/src/scss/config.scss";


.destTwoCard{
  position: relative;


  &__cards{
    @include flex-align;
    margin-top: 173px;
    flex-direction: column;
    @include media-breakpoint-up-md{
      flex-direction: row;
    }
    @include media-breakpoint-up-xl{
      padding-bottom: 425px;
    }
  }

  .destTwoCrd{
    position: relative;
    z-index: 1;
    &--1{
      @include media-breakpoint-up-xl{
        margin-right: 140px;
      }
    }
  }


  &__bg{
    background-repeat: no-repeat;
    background-size: contain;
    // visibility: hidden;
    position: absolute;
    bottom: 0;

    &--1{
      height: 588px;
      width: 100%;
      bottom: -210px;
      z-index: 2;
      @include media-breakpoint-up-xl{
        bottom: -4px;
        left: 99px;
        width: 1100px;
        height: 277px;
      }
    }

    &--2{
      bottom: 130px;
      @include media-breakpoint-up-xl{
        left: 348px;
        width: 411px;
        height: 337px;
      }
    }

    &--3{
      bottom: 137px;
      @include media-breakpoint-up-xl{
        right: 0;
        width: 550px;
        height: 283px;
      }
    }

    &--4{
      bottom: 137px;
      @include media-breakpoint-up-xl{
        right: 45%;
        width: 242px;
        height: 258px;
        bottom: 455px;
      }
    }


  }


}
