@import "destination-page/assets/src/scss/config.scss";

.destPieChart{

  @include media-breakpoint-up-xl{
    padding: 107px 0px 300px 0px;
  }

  &__standfirst{
    max-width: 820px;
    @include mx-auto;
  }

  &__subheader{
    margin-bottom: 48px;
  }

}
