@import "destination-page/assets/src/scss/config.scss";

.destPieChart{
  position: relative;
  overflow: hidden!important;
  padding: 0px 0px 300px 0px;

  @include media-breakpoint-up-sm{
    padding: 65px 0px 361px 0px;
  }

  @include media-breakpoint-up-xl{
    padding: 107px 0px 300px 0px;
  }

  &__intro{
    margin-bottom: 48px;
    visibility: hidden;
    @include ie-only{
      visibility: visible;
    }
  }

  &__header{
    margin-bottom: 30px;
  }

  &__standfirst{
    max-width: 700px;
    @include mx-auto;
    @include media-breakpoint-up-xxl{
      max-width: 750px;
    }
  }

  &__subheader{
    margin-top: 29px;
    @include media-breakpoint-up-md{
      margin-top: 48px;
    }
  }


  &__cta{
    margin-top: 30px;
    @include media-breakpoint-up-xl{
      margin-top: 90px;
    }
  }

  &__graphic{
    min-height: 300px;
    @include flex-align;
    @include media-breakpoint-up-xl{
      min-height: 607px;
    }
    svg{
      @include media-breakpoint-up-xl{
        max-height: 607px;
        min-height: 600px;
      }
    }
  }



  &__bg{
    background-repeat: no-repeat;
    background-size: contain;
    visibility: hidden;
    position: absolute;
    bottom: 0;
    @include ie-only{
      visibility: visible;
    }

    &--1{
      display: none;
      @include media-breakpoint-up-lg{
        top: 0;
        right: 0;
        display: block;
        height: 1100px;
        width: 112px;
      }
      @include media-breakpoint-up-xl{
        width: 244px;
      }
      @include media-breakpoint-up-xxl{
        right: -2px;
      }
    }

    &--2{
      left: -10px;
      bottom: -1px;
      height: 215px;
      width: 200px;
      @include media-breakpoint-up-sm{
        height: 305px;
        width: 275px;
      }
      @include media-breakpoint-up-xl{
        height: 439px;
        width: 732px;
      }
    }

    &--3{
      right: -48px;
      bottom: -18px;
      height: 210px;
      width: 290px;
      @include media-breakpoint-up-sm{
        height: 320px;
        width: 397px;
        bottom: -26px;
      }
      @include media-breakpoint-up-xl{
        height: 411px;
        width: 635px;
        bottom: -32px;
      }
      @media (min-width: 1366px){
        right: -28px;
        height: 431px;
        bottom: -33px;
      }
      @include media-breakpoint-up-xxl{
        height: 435px;
        bottom: -34px;
        right: -18px;
      }
    }

  }

}
