@import "destination-page/assets/src/scss/config.scss";

.destCards{
  overflow: hidden;
  padding-bottom: 264px;

  &__header{
    margin-bottom: 29px;
  }

  &__standfirst{
    max-width: 530px;
    @include mx-auto;
  }

  &__cards{
    margin-top: 30px;
    @include media-breakpoint-up-md{
      @include flex-align($justify: space-between);
      flex-wrap: wrap;
    }
  }

  .destCard{
    @include media-breakpoint-up-xl{
      margin-bottom: 31px;
    }

    &--1{
      @include media-breakpoint-up-xl{
        padding: 39px 61px 44px 61px;
      }
    }

    &--2{
      @include media-breakpoint-up-xl{
        padding: 37px 55px 44px 55px;
      }
    }

    &--3{
      @include media-breakpoint-up-xl{
        padding: 37px 60px 44px 60px;
      }
    }

    &--4{
      @include media-breakpoint-up-xl{
        padding: 37px 55px 44px 55px;
      }
    }

    &__header{
      margin-bottom: 22px;
    }

    &__icon{
      max-height: 30px;
    }

  }




}
