@import "destination-page/assets/src/scss/config.scss";

.destCards{
  overflow: hidden;
  padding-bottom: 264px;
  position: relative;
  // padding-top: 83px;
  @include media-breakpoint-up-xl{
    padding-bottom: 534px;
  }

  &__intro{
    margin-bottom: 17px;
  }

  &__header{
    margin-bottom: 29px;
  }

  &__standfirst{
    max-width: 530px;
    @include mx-auto;
  }

  &__cards{
    margin-top: 30px;
    @include media-breakpoint-up-sm{
      @include flex-align($justify: space-between);
      flex-wrap: wrap;
    }
  }

  .destCard{
    position: relative;
    z-index: 10;
    @include media-breakpoint-up-xl{
      margin-bottom: 41px;
    }

    &--1{
      @include media-breakpoint-up-xl{
        padding: 39px 58px 44px 58px;
      }
    }

    &--2{
      @include media-breakpoint-up-xl{
        padding: 37px 42px 44px 42px;
      }
    }

    &--3{
      @include media-breakpoint-up-xl{
        padding: 37px 60px 44px 60px;
      }
    }

    &--4{
      @include media-breakpoint-up-xl{
        padding: 37px 55px 44px 55px;
      }
    }

    &__header{
      margin-bottom: 12px;
      @include media-breakpoint-up-md{
        margin-bottom: 22px;
      }
    }

    &__icon{
      max-height: 18px;
      @include media-breakpoint-up-md{
        max-height: 30px;
      }
    }

  }


  &__cta{
    margin-top: 44px;
  }


  &__bg{
    background-repeat: no-repeat;
    background-size: contain;
    // visibility: hidden;
    position: absolute;
    bottom: 0;

    &--1{
      left: 0;
      @include media-breakpoint-up-xl{
        height: 802px;
        width: 212px;
        top: -3px;
      }
    }

    &--2{
      @include media-breakpoint-up-xl{
        height: 615px;
        width: 636px;
        top: 432px;
        left: -39px;
      }
    }

    &--3{
      @include media-breakpoint-up-xl{
        right: 0;
        bottom: 0px;
        height: 534px;
        width: 770px;
      }
    }

  }

}
