@import "../config.scss";

.button{
  @include fluid-type(18px, 20px);
  @include fluid-line-height(27px, 29px);
  @include transition;
  color: $white;
  outline: 0;
  border: 2px solid transparent;
  padding: 22.7px 38px 24.5px 31px;
  text-decoration: none;
  cursor: pointer;
  text-align: center;

  @include media-breakpoint-up-xl{
    padding: 23.4px 30px;
  }

  &--primary{
    background-color: $light-blue;
    &:hover{
      background-color: $navy;
      color: $white;
    }
  }

  &--secondary{
    background-color: $light-blue;
    &:hover{
      background-color: $white;
      color: $navy;
    }
  }


}
