@import "../config.scss";

*{
  @include box-sizing(border-box);
}

html,
body{
  margin: 0;
  padding: 0;
  @include cera;
}

a{
  @include transition;
}
body,
section{
  overflow-x: hidden;
}

svg,
svg *{
  transition: fill .5s ease;
  @include no-user-select;
}

img{
  width: auto;
  height: auto;
  max-width: 100%;
}

::-moz-selection{
  background-color: $navy;
  color: $white;
}

::selection{
  background-color: $navy;
  color: $white;
}
