@import "../config.scss";

/*
* COLORS
*/

.color{

  &--white{
    color: $white;
  }

  &--navy{
    color: $navy;
  }

  &--lightBlue{
    color: $light-blue;
  }

  &--lightGrey{
    color: $light-grey;
  }

}


/*
* BACKGROUNDS
*/

.background{

  &--white{
    background-color: $white;
  }

  &--navy{
    background-color: $navy;
  }

  &--dullNavy{
    background-color: $dull-navy;
  }

  &--blue{
    background-color: $blue;
  }

  &--cover{
    @include cover-background;
  }

}

/*
* OTHER
*/

ul.reset-list{
  padding: 0;
  margin: 0;
  list-style: none;
}

.flex-align{
  @include flex-align;
}

.visibility-hidden{
  visibility: hidden;
}

.cera-bold{
  @include cera-bold;
}

.overlay{
  position: relative;

  &:before{
    @include pseudo;
    @include absolute-fill;
    z-index: 999;
  }

  &--grey{
    &:before{
      background: rgba(0,0,0,0.7);
    }
  }

}
