@import "destination-page/assets/src/scss/config.scss";


.destBarChart{
  position: relative;
  overflow: hidden!important;
  padding: 60px 0px;
  @include media-breakpoint-up-sm{
    padding: 133px 0px;
  }
  @include media-breakpoint-up-xl{
    padding: 160px 0px 650px 0px;
  }


  &__standfirst{
    max-width: 700px;
    @include mx-auto;
    margin-top: 39px;
  }

  &__graphic{
    margin: 34px 0px 66px 0px;
  }


  &__graphic{

    @include media-breakpoint-up-xl{
      min-height: 560px;
    }
    svg{
      max-height: 560px;
    }
  }


  &__bg{
    background-repeat: no-repeat;
    background-size: contain;
    // visibility: hidden;
    position: absolute;
    bottom: 0;

    &--1{
      left: -1px;
      top: -2px;
      height: 847px;
      width: 86px;
      @include media-breakpoint-up-xl{
        height: 1097px;
        width: 368px;
      }
    }

    &--2{
      left: -1px;
      top: -2px;
      @include media-breakpoint-up-xl{
        top: 1095px;
        height: 640px;
        width: 546px;
      }
    }

    &--3{
      right: -51px;
      bottom: 0;
      @include media-breakpoint-up-xl{
        bottom: -103px;
        height: 635px;
        width: 901px;
      }
    }

  }

}
