<section class="destCTABanner background--navy">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-9">
        <div class="destCTABanner__wrapper">

          <div class="destCTABanner__copy text-center color--white">{{ module.copy|trim }}</div>

          <div class="destCTABanner__cta flex-align">
            {% set href = module.cta_link.url.href %}
            {% if module.cta_link.url.type is equalto "EMAIL_ADDRESS" %}
            	{% set href = "mailto:" + href %}
            {% endif %}
            {% set rel = [] %}
            {% if module.cta_link.no_follow %}
            	{% do rel.append("nofollow") %}
            {% endif %}
            {% if module.cta_link.open_in_new_tab %}
            	{% do rel.append("noopener") %}
            {% endif %}
            <a href="{{ href }}" class="button button--secondary"
            	{% if module.cta_link.open_in_new_tab %}target="_blank"{% endif %}
            	{% if rel %}rel="{{ rel|join(" ") }}"{% endif %}>
            	{{ module.cta_text|trim }}
            </a>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
