@import "destination-page/assets/src/scss/config.scss";

.destModal{
  max-width: 600px;
  width: 100%;
  @include mx-auto;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 9999;
  @include border-radius(5px);
  transform: translate(-50%, -50%);
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;

  &.active{
    display: flex;
  }

  &__inner{
    padding: 35px 30px;
    background-color: $white;
    @include border-radius(5px);
    max-height: 850px;
    display: flex;
    overflow: scroll;
    flex-direction: column;
    @include media-breakpoint-up-xl{
      padding: 35px 42px 73px 42px;
      max-height: 800px;
      margin: 15px;
    }
    @include media-breakpoint-up-xxl{
      max-height: 750px;
    }
  }

  &__close{
    margin: 60px 0px 20px 15px;
    @include flex-align($justify: flex-end);
    @include media-breakpoint-up-sm{
      margin-top: 0;
    }
  }

  &__icon{
    max-height: 20px;
    width: 20px;
    cursor: pointer;
    path{
      fill: $navy;
    }
    &:hover{
      path{
        fill: $light-blue;
      }
    }
  }


  &__intro{
    margin-bottom: 30px;
  }


  &__form{
    text-align: center;
    margin-bottom: 30px;
    @include media-breakpoint-up-sm{
      margin-bottom: 0;
    }

    fieldset{
      max-width: none!important; // hs override
    }

    input[type="text"],
    input[type="email"],
    select{
      background-color: $medium-grey;
      border: 0;
      outline: 0;
      padding: 20px 23px 19px 23px;
      color: $navy;
      width: 100%!important; // hs override
      @include fluid-type(16px, 16px);
      @include fluid-line-height(22px, 22px);
      border: 1px solid transparent;

      ::-webkit-input-placeholder {
        color: $navy;
        opacity: 1;
      }

      ::-moz-placeholder {
        color: $navy;
        opacity: 1;
      }

      :-ms-input-placeholder {
        color: $navy;
        opacity: 1;
      }

      ::-ms-input-placeholder {
        color: $navy;
        opacity: 1;
      }

      ::placeholder {
        color: $navy;
        opacity: 1;
      }

      :-ms-input-placeholder {
        color: $navy;
      }

      ::-ms-input-placeholder {
        color: $navy;
      }

    }

    select{
      background-image: url(https://www.silverfin.com/hubfs/Tomorrow%20People/destination-page/vectors/other/dropdown-arrow.svg);
      background-repeat: no-repeat;
      background-position: right 18px top 50%;
      -webkit-appearance: none;
      cursor: pointer;
    }


    ul.inputs-list{
      list-style: none;
      padding: 0;
    }

    .actions{
      @include flex-align;
      margin-top: 35px;
    }

    input[type="submit"]{
      border: 0;
      outline: 0;
      padding: 22.7px 38px 24.5px 31px;
      @include fluid-type(18px, 20px);
      @include fluid-line-height(27px, 29px);
      @include transition;
      @include no-user-select;
      text-decoration: none;
      cursor: pointer;
      text-align: center;
      color: $white;
      background-color: $light-blue;
      &:hover{
        background-color: $navy;
        color: $white;
      }

    }

    .legal-consent-container{
      margin-top: 40px;
      text-align: left;
      *{
        @include fluid-type(12px, 12px);
        @include fluid-line-height(15px, 15px);
        color: $navy;
      }
    }

    .invalid{
      border: 1px solid $red!important;
    }

    .hs-form-field {
      margin-bottom: 10px;
      > label{
        @include completely-hide;
      }
    }

    .hs-error-msgs{
      @include completely-hide;
    }

  }

}
