@import "destination-page/assets/src/scss/config.scss";

.destPinned{

  &__slide{
    @include flex-align;
    height: 100vh;
    min-height: 600px;
    width: 100vw;
    position: -webkit-sticky;
    position: sticky;
    top: 0vh;
    background-image:
      url(https://www.silverfin.com/hubfs/Tomorrow%20People/destination-page/vectors/destination-pinned/pinned-top-center.svg),
      url(https://www.silverfin.com/hubfs/Tomorrow%20People/destination-page/vectors/destination-pinned/pinned-top-right.svg);
    background-position: center top, right top;
    background-repeat: no-repeat;


    &--1{
      z-index: 1;
    }

    &--2{
      z-index: 2;
    }

    &--3{
      z-index: 3;
    }

  }

  &__header{
    margin: 36px 0px;
  }

  &__cta{
    display: flex;
    margin-top: 44px;
  }

}
