@import "destination-page/assets/src/scss/config.scss";

.destPinned{
  overflow: visible;

  &__slide{
    overflow: hidden;
    @include flex-align;
    height: 100vh;
    min-height: 1080px;
    width: 100vw;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -o-sticky;
    position: -ms-sticky;
    position: sticky;
    top: 0vh;
    background-image:
      url(https://www.silverfin.com/hubfs/Tomorrow%20People/destination-page/vectors/destination-pinned/pinned-top-center.svg),
      url(https://www.silverfin.com/hubfs/Tomorrow%20People/destination-page/vectors/destination-pinned/pinned-top-right.svg),
      url(https://www.silverfin.com/hubfs/Tomorrow%20People/destination-page/vectors/destination-pinned/pinned-bottom-left.svg),
      url(https://www.silverfin.com/hubfs/Tomorrow%20People/destination-page/vectors/destination-pinned/pinned-bottom-center.svg),
      url(https://www.silverfin.com/hubfs/Tomorrow%20People/destination-page/vectors/destination-pinned/pinned-bottom-right.svg);
    background-position: center top, right top, bottom left, bottom center, bottom right;
    background-repeat: no-repeat;

    @include media-breakpoint-up-xl{
      min-height: 800px;
    }

    &--1{
      z-index: 1;
    }

    &--2{
      z-index: 2;
    }

    &--3{
      z-index: 3;
    }

  }

  &__header{
    margin: 36px 0px;
  }

  &__cta{
    display: flex;
    @include media-breakpoint-up-xl{
      margin-top: 80px;
    }
  }

}
