@import "destination-page/assets/src/scss/config.scss";

.destHeader{
  padding: 0px 5px 20px 15px;
  @include media-breakpoint-up-sm{
    padding: 0px 30px;
  }

  @include media-breakpoint-up-xl{
    padding: 0px 83px 0px;
  }


  &__wrapper{
    @include flex-align($justify: space-between, $align: flex-end);
  }

  &__logo{
    width: 135px;
    @include no-user-select;
    @include media-breakpoint-up-sm{
      width: 156px;
    }
    @include media-breakpoint-up-xl{
      width: 190px;
    }
  }


}
